<% if @users_by_role.any? %>
    <div class="box project-member-container">
      <h3 class="icon22 icon22-users"><%=l(:label_member_plural)%></h3>
      <% @users_by_role.keys.sort_by{|role|
        result = case role.name
                   when 'Leader'
                     1
                   when 'Co-Leader'
                     5
                   when 'Member'
                     10
                   when 'Inactive Member'
                     15
                   when 'Pending Member'
                     20
                   else
                     100
                 end
        result
      }.each do |role| %>
          <p class="role">
          <h4><%= role.name %></h4>
          <% @users_by_role[role].sort.each do |user| %>
              <div class="role-user">
                <%= link_to_user_with_image user, 1 %>
              </div>
          <% end %>
          <div class="clearer"></div>
          </p>
      <% end %>
      <% if User.current.logged? && !User.current.member_of?(@project) %>
          <b><a href="javascript:void(0);" id="joinProjectLink">Join Project</a></b>
          <div id="want-to-help" style="display:none">
            <%= form_for :membership, {member: @member, url: membershiprequest_project_path(@project),  remote:true } do %>
                How do you want to help:<br /><textarea id="team-membership-request-comment" name="description" style="height:inherit; width:99.5%" rows="2"></textarea><br />
                <%= submit_tag 'Submit team membership request' %>
            <% end %>
          </div>
      <% end %>
    </div>
<% end %>
<% content_for :header_tags do %>
    <script src="/plugin_assets/typo3_layout/javascripts/custom-scripts.js"></script>
<% end %>
<%#= javascript_include_tag  'custom-scripts.js' , plugins:'typo3_layout' %>

